_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Odin.ai
.DS_Store
Gemfile.lock
*.iml
modules.xml
vcs.xml
.idea

.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
package-lock.json
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
*.log
yarn.lock

.idea/

site/

